@using System.Web.Mvc.Html;
@using Webbspel.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quest for the North Pole</title>
    <script type="text/javascript" src="~/Scripts/phaser.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <header>
        <input class="Submit1" type="submit" value="Logga in/Skapa ny profil" />
        <input class="Submit1" type="submit" value="Logga ut" />
        <div style="width: auto; background-color: #FFFFFF">
            @if (Request.IsAuthenticated)
            {
                <strong>@Html.Encode(User.Identity.Name)</strong>
                @Html.ActionLink("Log out", "Logout", "User")
            }
            else
            {
                @Html.ActionLink("Register", "Register", "User")
                <span> | </span>
                @Html.ActionLink("Log in", "Login", "User")
            }
        </div>
    </header>
    <div id="wrapper">
        <h1>Quest for the North Pole</h1>
        <nav>
            <ul id="dropdown">
                <li>@Html.MenuLink("Hem", "Index", "Home")</li>
                <li>
                    @Html.MenuLink("Highscore", "Highscore", "Home")
                    <ul>
                        <li>@Html.MenuLink("Lokal", "Local", "Home")</li>
                        <li>@Html.MenuLink("Top 10", "Top10", "Home")</li>
                    </ul>
                </li>
                <li>@Html.MenuLink("Om", "About", "Home")</li>
                <li>@Html.MenuLink("Kontakt", "Contact", "Home")</li>
            </ul>


        </nav>
        <div id="content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    
</body>
</html>
