@using System.Web.Mvc.Html;
@using Webbspel.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quest for the North Pole</title>
    <script type="text/javascript" src="~/Scripts/phaser.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <h1>Quest for the North Pole</h1>
        <nav>
            <ul id="dropdown">
                <li>@Html.MenuLink("Hem", "Index", "Home")</li>
                <li>
                    @Html.MenuLink("Highscore", "Highscore", "Home")
                    <ul>
                        <li>@Html.MenuLink("Lokal", "Local", "Home")</li>
                        <li>@Html.MenuLink("Top 10", "Top10", "Home")</li>
                    </ul>
                </li>
                <li>@Html.MenuLink("Om", "About", "Home")</li>
                <li>@Html.MenuLink("Kontakt", "Contact", "Home")</li>
            </ul>


        </nav>
        <div id="content">
            @RenderBody()
        </div>
    </div>

        
</body>
</html>
