@model Webbspel.Models.User
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed.");
    <div id="login">
        <fieldset>
            <legend>Login</legend>
            <div class="editor-field">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.Remember)
                @Html.LabelFor(u => u.Remember)
            </div>
            <input type="submit" value="Log In"/>
        </fieldset>
    </div>
}

