@{
    //Author: Ludwig Fingal and Adam Andersson
}
<div id="phaser-game">
    @Scripts.Render("~/Scripts/phaser.min.js")
    @Scripts.Render("~/Scripts/src/boot.js")
    @Scripts.Render("~/Scripts/src/preload.js")
    @Scripts.Render("~/Scripts/src/gametitle.js")
    @Scripts.Render("~/Scripts/src/thegame.js")
    @Scripts.Render("~/Scripts/src/gameover.js")
    @Scripts.Render("~/Scripts/src/gamewon.js")
    @Scripts.Render("~/Scripts/src/createGame.js")
</div>